<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Criar Novo Aluno</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div align="center">
		<h1>Criar Novo Aluno</h1>
		<br />
		<div class="col-sm-4">
			<form action="#" th:action="@{/save}" th:object="${student}"
				method="post">


				<div alight="left">
					<tr>
						<label class="form-label">Nome do Aluno</label>
						<td><input type="hidden" th:field="*{id}" /> <input
							type="text" th:field="*{studentname}" class="form-control"
							placeholder="Nome do Aluno" /></td>
					</tr>
				</div>

				<div alight="left">

					<tr>
						<label class="form-label">Curso</label>
						<td><input type="text" th:field="*{course}"
							class="form-control" placeholder="Curso" /></td>
					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">Valor</label>
						<td><input type="text" th:field="*{fee}" class="form-control"
							placeholder="Valor" /></td>
					</tr>
				</div>
				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Salvar</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
</body>
</html>